@font-face {
  font-family: OPPOfont1;
  src: url('../../../static/font/Font-OPPOSans/OPPOSans-M.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OPPOfont2;
  src: url('../../../static/font/Font-OPPOSans/OPPOSans-B.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OPPOfont3;
  src: url('../../../static/font/Font-OPPOSans/OPPOSans-H.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OPPOfont4;
  src: url('../../../static/font/Font-OPPOSans/OPPOSans-L.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OPPOfont5;
  src: url('../../../static/font/Font-OPPOSans/OPPOSans-R.woff2');
  font-weight: normal;
  font-style: normal;
}
